Script-schema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
start= root
root= element root {title,movie_writer,sd+, speech+}
title= element title {text}
movie_writer= element movie_writer {text}
sd= element sd {setting*, ref*+?, spell*+?, text}
setting= element setting {



element test { xsd:double }
